body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    display: flex;
    border: 1px, solid, black;
    flex-wrap: wrap;
    width: 960px; 
    height: 960px; 
    background-color:lightgrey;
}
/* container div {
    box-sizing: border-box; 
    border: 1px solid black;
    background: white;
}